name: go_sell_sdk_flutter
description: Flutter plugin compatible version of goSellSDK library for both Android and iOS.
version: 2.4.16
homepage: https://github.com/Tap-Payments/gosellSDK-Flutter.git

environment:
  sdk: '>=3.1.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

#environment:
#  sdk: '>=2.19.0 <3.0.0'
#  flutter: ">=2.5.0"
#
#dependencies:
#  flutter:
#    sdk: flutter
#
#dev_dependencies:
#  flutter_test:
#    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

## new scheme for flutter plugin

flutter:
  plugin:
    platforms:
      android:
        package: tap.company.go_sell_sdk_flutter
        pluginClass: GoSellSdkFlutterPlugin
      ios:
        pluginClass: GoSellSdkFlutterPlugin
# Old Scheme for flutter plugin
# The following section is specific to Flutter.
# flutter:
# This section identifies this Flutter project as a plugin project.
# The androidPackage and pluginClass identifiers should not ordinarily
# be modified. They are used by the tooling to maintain consistency when
# adding or updating assets for this project.
# plugin:
#   androidPackage: tap.company.go_sell_sdk_flutter
#   pluginClass: GoSellSdkFlutterPlugin
# To add assets to your plugin package, add an assets section, like this:
# assets:
#  - images/a_dot_burr.jpeg
#  - images/a_dot_ham.jpeg
#
# For details regarding assets in packages, see
# https://flutter.dev/assets-and-images/#from-packages
#
# An image asset can refer to one or more resolution-specific "variants", see
# https://flutter.dev/assets-and-images/#resolution-aware.
# To add custom fonts to your plugin package, add a fonts section here,
# in this "flutter" section. Each entry in this list should have a
# "family" key with the font family name, and a "fonts" key with a
# list giving the asset and other descriptors for the font. For
# example:
# fonts:
#   - family: Schyler
#     fonts:
#       - asset: fonts/Schyler-Regular.ttf
#       - asset: fonts/Schyler-Italic.ttf
#         style: italic
#   - family: Trajan Pro
#     fonts:
#       - asset: fonts/TrajanPro.ttf
#       - asset: fonts/TrajanPro_Bold.ttf
#         weight: 700
#
# For details regarding fonts in packages, see
# https://flutter.dev/custom-fonts/#from-packages
